<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.zl.mapper.SHStockAccountMapper">

	<insert id="insertSHStockAccount" parameterType="ShStockAccount">
		insert into SH_Stock_Account(sh_account_num,user_id,Identification_Id) values(sq_sh_number.nextval,#{userId},#{identificationId}) 
	</insert>
	
</mapper>	